* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
}

.no-underlined { text-decoration: none; }
li { list-style-type: none; }
a:visited { color: inherit;}
label { font-size: 16px;}

.header-nav {
	padding: 20px 5px;
	color: #205081;
	font-size: 20px;
	max-width: 1040px;
	margin: 0 auto;
}

.reg-button {
	border: 1px solid #4080BF;
	border-radius: 3px;
}

.reg-button:hover {
	color: #fff;
	background-color: #4080BF;
}

.nav-list {
	float: right;
}

.nav-item {
	padding: 5px;
	margin: 0 10px;
	display: inline-block;
}

.nav-item input {
	padding: 5px;
	font-size: 14px;
	border: 1px solid #205081;
	border-radius: 3px;
}

.nav-item input:focus {
	border: 1px #fff;
	border-radius: 3px;
}

#regModalOuter {
	display: none;
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#regModalOuter:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#regModalInner {
	display: inline-block;
	vertical-align: middle;
	width: 300px;
	position: relative;
}

#regModalOuter:target {
	display: block;
}

#regModalContent {
	border: 1px solid #ccc;
	border-radius: 10px;
	position: relative;
	background-color: #fff;
}

.closeModal {
	text-decoration: none;
}

.closeModal:before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
}

.closeModal:after {
	content: "\00D7";
	position: absolute;
    right: -5px;
    top: -5px;
    z-index: 999;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 0 5px;
}